html {
	margin: 0;
	height: 100%;
	min-height: 100%;
}
body{
	background-image: url("../images/openingOceanPic.jpg");
	font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
	margin: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

h2.welcomeTitle {
	margin-top: 15%;
	/*margin-left:37%;*/
	font: oblique lighter 75px/100px "Book Antiqua", serif;
	color:#000327;

}

h2.welcome:hover {
	color:#256E5D;
	font: normal bold 55px/100px "Book Antiqua", serif;
}

div.welcome {
	margin-top:5%;
	width: 40%;
}

input {
	text-align: center;
}

input:active {
	line-height: 30px;
}

button.btn#go {
	background-color: #02132F;
	color: #C0C8D6;
}
